.speak:hover {
  background-color: var(--speak-hover-bg);
}

.speak:active {
  background-color: var(--speak-active-bg);
}

.speak2 {
  background-color: var(--container-text-to-push-bg);

  display: flex;
  align-items: center;
  fill: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  width: 30px;
  padding-left: 5px;
  padding-right: 15px;
}

.speak span {
  width: 1%;
}
