.speak:hover {
  background-color: var(--speak-hover-bg);
}

.speak:active {
  background-color: var(--speak-active-bg);
}

.speak {
  background-color: var(--speak-bg);
  width: 8%;
  display: flex;
  align-items: center;
  fill: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.speak span {
  width: 1%;
}
